.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  z-index: 3;
  height: var(--header-height);
  align-items: center; }

.nav-desktop {
  display: none; }
  @media (min-width: 64rem) {
    .nav-desktop {
      display: flex; } }

.utility-header {
  display: none;
  padding: 0 1rem;
  box-shadow: inset 0px -1px 0px hsl(var(--clr-default-200)); }
  @media (min-width: 64rem) {
    .utility-header {
      display: block; } }
  .utility-header ul {
    justify-content: flex-end; }

.nav-l {
  align-items: center;
  flex: 1;
  display: none; }
  @media (min-width: 64rem) {
    .nav-l {
      display: flex; } }

.navigation {
  list-style: none; }
  .navigation li.active a {
    color: hsl(var(--clr-main-600)); }

.secondary-navigation {
  --gap: 0.5rem;
  margin-left: auto;
  align-items: center; }
  .secondary-navigation a {
    font-size: 0.875rem;
    font-weight: 500; }
  @media (min-width: 64rem) {
    .secondary-navigation {
      --gap: inherit; } }

.right-header {
  margin-left: auto;
  align-items: center; }

.navigation-link {
  color: inherit;
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500; }
  .navigation-link:hover {
    color: hsl(var(--clr-main-600)); }

.navigation-link-icon {
  display: none; }
  @media (min-width: 64rem) {
    .navigation-link-icon {
      display: inline; } }

.vertical-divider {
  display: none;
  width: 1px;
  height: 15px; }
  @media (min-width: 64rem) {
    .vertical-divider {
      display: block; } }

.backdropMenu, .backdropMenu1 {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  outline: 0;
  background-color: hsl(var(--clr-default-900), 16%); }

.backdropBody {
  overflow: hidden;
  padding-right: 8px; }

.dropdown-menu,
.dropdown-menu-inner {
  position: absolute;
  left: 0;
  z-index: 3;
  top: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  max-height: 100vh; }

.dropdown.active > .dropdown-button + .dropdown-menu,
.dropdown-inner.active > .dropdown-button-inner + .dropdown-menu-inner {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px); }

.logo {
  width: 125px;
  height: 40px; }
  @media (min-width: 64rem) {
    .logo {
      width: 150px;
      height: 40px; } }
  .logo svg {
    width: 100%; }

.start-btn {
  width: 100%;
  padding-inline: 0.5rem; }
  @media (min-width: 64rem) {
    .start-btn {
      padding-inline: 1rem; } }
  @media (min-width: 80rem) {
    .start-btn {
      margin-left: auto;
      padding-inline: 1.25rem;
      height: 3rem;
      font-size: 1rem;
      width: auto; } }

@media (min-width: 64rem) {
  .mobile-nav-open {
    display: none; } }

.nav-mobile-header {
  height: var(--header-height); }

.nav-sliding {
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 3;
  overflow: scroll;
  transform: translateX(-100%);
  transition: transform 100ms ease-in-out; }
  .nav-sliding.nav-sliding-second {
    transform: translateX(100%); }
  .nav-sliding[data-visible="true"] {
    transform: translateX(0);
    transition: transform 320ms ease-in-out; }

.header-dropdown-menu {
  height: calc(100vh - var(--header-height)); }

.list-link {
  height: 3.5rem;
  display: flex;
  align-items: center; }

.hero-section {
  background-color: #09142a;
  background-image: url(../../../public/icons.png), radial-gradient(circle at top center, #3b4454 20%, #09142a 40%);
  background-size: 80%, 100%;
  background-position: center, left top;
  background-repeat: no-repeat;
  min-height: 268px; }

.hero-section-slogan {
  background-image: url(../../../public/hero-lines.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 70%;
  padding-bottom: 1.5rem; }
  @media (min-width: 40rem) {
    .hero-section-slogan {
      background-size: auto; } }
  .hero-section-slogan h2 {
    font-size: 2.5rem; }
    @media (min-width: 48rem) {
      .hero-section-slogan h2 {
        font-size: 3rem; } }

.hero-section-benefits {
  gap: 0.25rem; }
  @media (min-width: 48rem) {
    .hero-section-benefits {
      gap: 2.5rem; } }

.hero-section-benefit {
  background-image: url(../../../public/hero-check.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 1.5rem; }

.home-step > div {
  justify-content: start; }
  @media (min-width: 48rem) {
    .home-step > div {
      justify-content: center; } }

.home-step-arrow-1 {
  position: relative; }
  .home-step-arrow-1::after {
    content: '';
    position: absolute;
    top: 20%;
    right: -25%;
    background-image: url(../../../public/arrow-1.svg);
    background-repeat: no-repeat;
    width: 150px;
    height: 80px;
    z-index: 1; }

.home-filters {
  display: none;
  background-color: hsl(var(--clr-default-300), 32%); }
  @media (min-width: 48rem) {
    .home-filters {
      display: flex; } }

.home-card {
  background-color: hsl(var(--clr-default-50));
  padding: 2rem 1.5rem; }
  .home-card:hover {
    background-color: hsl(var(--clr-default-0));
    box-shadow: var(--bs-2xl); }
  @media (min-width: 64rem) {
    .home-card {
      padding: 2rem; } }

.home-card-grid {
  gap: 1rem;
  flex-direction: column; }
  @media (min-width: 48rem) {
    .home-card-grid {
      flex-direction: row;
      gap: 1.5rem; } }
  .home-card-grid .play-video {
    z-index: 2;
    right: -0.75rem; }
  .home-card-grid .home-divider {
    height: 5rem;
    align-self: center; }
  .home-card-grid .home-card-price {
    order: 1; }
    @media (min-width: 64rem) {
      .home-card-grid .home-card-price {
        order: 2; } }
    .home-card-grid .home-card-price div {
      flex-direction: row;
      align-items: end; }
      @media (min-width: 64rem) {
        .home-card-grid .home-card-price div {
          flex-direction: column;
          align-items: center; } }

/*# sourceMappingURL=main.css.map */
