.subtitle {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    font-weight: 600;
}

.txt-mp-gradient {
    background: linear-gradient(90.62deg, #D2FF1D -2.44%, #0EF393 70.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-mp-gradient {
    background: linear-gradient(90.62deg, #D2FF1D -2.44%, #0EF393 70.86%);
    box-shadow: 0px 16px 24px -12px rgba(32, 240, 179, 0.48);
}



  