:root {
    --bg-mp-gradient : linear-gradient(90.62deg, #D2FF1D -2.44%, #0EF393 70.86%);
    --bg-mp-gradient-dark :  linear-gradient(90.62deg, hsla(72, 89%, 49%, 1) -2.44%, hsla(155, 94%, 45%, 1) 70.86%);
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    font-weight: 600;
}

.txt-mp-gradient {
    background: var(--bg-mp-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-mp-gradient {
    background: var( --bg-mp-gradient);
    box-shadow: 0px 16px 24px -12px rgba(32, 240, 179, 0.48);
    border: none
}

.txt-mp-gradient-dark {
    background: var(--bg-mp-gradient-dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-mp-gradient-dark {
    background: var( --bg-mp-gradient-dark);
    box-shadow: 0px 16px 24px -12px rgba(32, 240, 179, 0.48);
    border: none
}



/* ----------------- */
/* Home */
/* ----------------- */

.hero-title {
    font-size: var(--fz-display-m);

    @include mq(m) {
        font-size: var(--fz-display-l);
     }
}

.top-categories {

    margin-top: 1.75rem;
    padding: 1.5rem; 

    @include mq(m) {
        margin-top: 4rem;
        padding: 3.5rem; 
    }
}

.container-za-trista-i-dvaise-na-dvesta-i-dvaise {
    gap: 1.5rem;
    padding: 0 0 40px 0;
    background-color: hsl(var(--clr-main-100));

    @include mq(m) {
        gap: 2.5rem;
    }
}

.teacher-card {
    min-width: 320px;
    aspect-ratio: 1/0.6875;
    position: relative;


}

.teacher-card-name {
    text-decoration: none;
    bottom: -0.75rem;
    left: 1.75rem;
    position: absolute;
    left: 0;
    bottom: -1rem; 
    left: 1.5rem;
    
}

a.teacher-card-name-link {
    width: 0;
    height: 0;
    visibility: hidden;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: visible;
    }
}

.slide-track-bottomGradient {
    a.teacher-card-name-link {
        &::after {
            bottom: -30px;
            background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
        }
    }
}



.avatar-border {
    border: .25rem solid hsl(var(--clr-default-0));
}


@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 320s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-360px * 5))}
}

@keyframes scrollRight {
	0% {transform: translateX(calc(-360px * 5)) }
	100% {  transform: translateX(0); }
}


// Styling
.slider {	
	margin: auto;
	overflow:hidden;
	position: relative;	
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(360px * 10);

        &.slide-track-right {
		    animation: scrollRight $animationSpeed linear infinite;

        }
	}
	
	.slide {
		height: 260px;
		width: 360px;
	}
}

.home-step {
    border: 1px solid hsl(var(--clr-default-250))
}







  